<div class="container">
  <div class="users">
    <div class="users__items">
     <div class="users__pre">
       <div class="users__information"></div>
       <div class="users__pool"></div>
       <div class="users__form users__mb-40 users__mt-30">
        <a href="#" class="users__text">
          Enroll
        </a>
       </div>
       <form>
        <div class="link__details form-group">
          <div class="clap__move">
            <label class="label">Title</label>
           <input name="Title" type="Title" class="clap__input" placeholder="Title" required/>
          </div>
          <div class="clap__move">
            <label class="label">First Name</label>
           <input name="firstName" type="firstName" class="clap__input" placeholder="Eddie" required/>
          </div>
          <div class="clap__control">
            <label class="label">Last Name</label>
           <input name="lastName" type="lastName" class="clap__input"  placeholder="Krone" required/>
          </div>
          <div class="clap__control">
            <label class="label">Email</label>
            <input name="email" type="email" class="clap__input" placeholder="instructor@beltstripe.com" />
          </div>
          <div class="clap__control">
            <label for="inputState" class="label">Gender</label>
            <select id="inputState" class="form-select">
             <option selected>Male</option>
             <option>Female</option>
             <option>Others</option>
             <option>Prefer not to say</option>
            </select>
          </div>
          <div class="row g-3 clap__control">
          <div class="col-md-6">
            <button type="button" class="btn-1">Enroll</button>
          </div>
          <div class="col-md-6">
           <button type="button" class="btn-2">Cancel</button>
          </div>
          </div>
        </div>
      </form>
     </div>
    </div>
  </div>
</div>