<nav class="sidebar">
  <app-sidebar></app-sidebar>
</nav>
<main class="bundle">
  <div class="basket__option">
    <img src="/assets/images/Vector.png" alt="vector images" class="vector"/>
    <p class="line__sdk">Eddie Kone Academy - BJJ</p>
    <div class="circle">
      <strong class="text">+</strong>
    </div>
  </div>
  <div class="student">
     <a href="#" class="student__polyeans">Students</a>
     <div class="student__search">
       <input type="text" class="student__searchInput"/>
       <img src="/assets/images/search.svg" alt="icon" class="student__searchIcon"/>
     </div>
     <div class="student__enrollBasket">
      <button type="button" class="student__button" data-bs-toggle="modal" data-bs-target="#exampleModal">Enroll Students</button>
     </div>
     <table class="table table-bordered tales__story">
      <thead>
        <tr>
          <th scope="col">S/N</th>
          <th scope="col">Full Name</th>
          <th scope="col">Email</th>
          <th scope="col">Gender</th>
          <th scope="col">Date Joined</th>
          <th scope="col">Rank</th>
          <th scope="col">Sessions Completed</th>
          <th scope="col">Status</th>
          <th scope="col">Last Session</th>
          <th scope="col">Membership</th>
        </tr>
      </thead>
     </table>
     <div>
      <img src="/assets/images/warning.png" alt="" class="images" />
      <p class="central">There are no students onboarded yet</p>
     </div>
  </div>
</main>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-academy></app-academy>
      </div>
    </div>
  </div>
</div>
